<div class="container quote" >
    <h1 class="text-center bg-info pt-5 pb-5">Quote-Engine</h1>
  

  <div>
      <p class="text-center mt-4">Application where users can create quotes and have those quotes voted on whether they are terrible or are inspirational.</p>
  </div>

  <app-form (emitQuote)="addQuote($event)"></app-form>

  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <hr>
        <div  class="myQuote"*ngFor="let quote of quotes; let i=index">
          <p appHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote}}</p>
          <p  *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote}}</p>
          <app-details [quote]="quote"></app-details>

          


          <button class="btn btn-primary mt-1" (click)="upvote(i)">Upvote</button>
          <button class="btn btn-warning ms-2 mt-1" (click)="downvote(i)">Downvote</button>
          <button class="btn btn-danger ms-sm-2 mt-1" (click)="delQuote(i)">Delete</button>

          <hr>

        </div>
      </div>
    </div>
  </div>
